<%-include('../layout/admin/header.ejs')-%>
<%-include('../partials/adminnave.ejs')-%>

 
</head>
<body>

    <div style="display: flex;justify-content: end ;">
        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Add Coupon</button> -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Add Coupon</button>
    </div>

   <section>
  <div class="row">
    <% CouponDetail.forEach(ele => { %>
      <div class="col-md-4 mb-4"> <!-- Adjust column size as needed -->
        <div class="card">
          <div class="card-header red lighten-1 white-text">
            <p class="heading">Discount offer: <strong><%- ele.offerPercentage %>% off</strong></p>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-3">
                <p></p>
                <p class="text-center">
                  <i class="fas fa-gift fa-4x" style="color: rgba(255, 34, 0, 0.923);"></i>
                </p>
              </div>
              <div class="col-9">
                <h4>
                  <span class="badge" style="background-color: green;">PurachaseAmnt:<%-ele. minimumPurachaseAmount-%>

                  </span>
                </h4>
                <!-- <p>Sharing is caring. Therefore, from time to time we like to give our visitors small gifts. Today is one of those days.</p> -->
                <p><strong>Copy the following code and use it at the checkout. It's valid for <u>one day</u>.</strong></p>
                <h3>
                  
                  <span class="badge" style="background-color: red;">Code:<%- ele.couponCode %></span>
                </h3>
              </div>
            </div>
          </div>

          <div class="card-footer">
            <div class="text-center">
              <a  class="btn btn-danger" onclick="EditCoupon('<%-ele._id-%>')">Edit<i class="far fa-gem ml-1 white-text"></i></a>
              <a  class="btn btn-outline-danger waves-effect" onclick="DeleteCoupon('<%-ele._id-%>')">Delete</a>
            </div>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</section>


 <!-- action="/Admin/AddCoupon"  -->

<form id="Addcoupon" method="post">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> Add New Coupon</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Coupon Code:</label>
                            <input type="text" class="form-control" id="CouponCode" name="couponCode">
                            <div id="couponCodeError" class="text-danger"></div>
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Minimum Purchase Amount:</label>
                            <input type="text" class="form-control" id="Minimumamnt" name="minimumPurachaseAmount">
                            <div id="minimumAmountError" class="text-danger"></div>
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Discount Amount:</label>
                            <input type="text" class="form-control" id="discountamnt" name="discountAmount">
                            <div id="discountAmountError" class="text-danger"></div>
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Description:</label>
                            <input type="text" class="form-control" id="description" name="description">
                        </div>
                        <div class="col-md-4">
                            <label for="message-text" class="col-form-label">Starting Date:</label>
                            <input type="date" class="form-control" id="startingdate" name="validFrom">
                        </div>
                        <div class="col-md-4 ms-auto" style="margin-top: -74px;">
                            <label for="message-text" class="col-form-label">Ending Date:</label>
                            <input type="date" class="form-control" id="endingdate" name="validTo">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="AddCoupon()" disabled>Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- edit modal -->
<form id="EditCouponForm">
    <div class="modal fade" id="exampleEditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleEditModalLabel">Edit Coupon</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="couponCode" class="col-form-label">Coupon Code:</label>
                        <input type="text" class="form-control" id="couponCode" name="couponCode">
                        <input type="text" class="form-control" id="oldcouponCode" name="oldcouponCode" hidden>
                        <input type="text" class="form-control" id="CouponId" name="CouponId" hidden>
                        <div id="couponCodeError" class="text-danger"></div>
                    </div>
                    <div class="mb-3">
                        <label for="minimumPurachaseAmount" class="col-form-label">Minimum Purchase Amount:</label>
                        <input type="text" class="form-control" id="minimumPurachaseAmount" name="minimumPurachaseAmount">
                        <div id="minimumAmountError" class="text-danger"></div>
                    </div>
                    <div class="mb-3">
                        <label for="discountAmount" class="col-form-label">Discount Amount:</label>
                        <input type="text" class="form-control" id="discountAmount" name="discountAmount">
                        <div id="discountAmountError" class="text-danger"></div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <input type="text" class="form-control" id="description" name="description">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="validFrom" class="col-form-label">Valid From:</label>
                            <input type="date" class="form-control" id="validFrom" name="validFrom">
                        </div>
                        <div class="col-md-6">
                            <label for="validTo" class="col-form-label">Valid To:</label>
                            <input type="date" class="form-control" id="validTo" name="validTo">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="submitEditCouponBtn" onclick="submitEditCoupon()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
 
jQuery(document).ready(function ($) {
    $("#submitEditCouponBtn").click(function () {
        PostEditCoupon();
    });
});


</script>
<script>
   
    document.getElementById('CouponCode').addEventListener('input', function () {
        var couponCode = this.value;
        var errorDiv = document.getElementById('couponCodeError');
        if (couponCode.includes(' ')) {
            errorDiv.innerText = 'Coupon code cannot contain spaces';
            document.querySelector('[onclick="AddCoupon()"]').disabled = true;
        } else {
            errorDiv.innerText = '';
            document.querySelector('[onclick="AddCoupon()"]').disabled = false;
        }
    });

    document.getElementById('Minimumamnt').addEventListener('input', function () {
        var minimumAmount = this.value;
        var errorDiv = document.getElementById('minimumAmountError');
        if (!/^\d+$/.test(minimumAmount)) {
            errorDiv.innerText = 'Minimum purchase amount must be a number';
            document.querySelector('[onclick="AddCoupon()"]').disabled = true;
        } else {
            errorDiv.innerText = '';
            document.querySelector('[onclick="AddCoupon()"]').disabled = false;
        }
    });

    document.getElementById('discountamnt').addEventListener('input', function () {
        var discountAmount = this.value;
        var errorDiv = document.getElementById('discountAmountError');
        if (!/^\d+$/.test(discountAmount)) {
            errorDiv.innerText = 'Discount amount must be a number';
            document.querySelector('[onclick="AddCoupon()"]').disabled = true;
        } else {
            errorDiv.innerText = '';
            document.querySelector('[onclick="AddCoupon()"]').disabled = false;
        }
    });
</script>
<script>
    //edti coupon validation 
  

    document.getElementById('couponCode').addEventListener('input', function () {
        var couponCode = this.value;
        var errorDiv = document.getElementById('couponCodeError');
        if (couponCode.includes(' ')) {
            errorDiv.innerText = 'Coupon code cannot contain spaces';
            document.getElementById('submitEditCouponBtn').disabled = true;
        } else {
            errorDiv.innerText = '';
            document.getElementById('submitEditCouponBtn').disabled = false;
        }
    });

    document.getElementById('minimumPurachaseAmount').addEventListener('input', function () {
        var minimumAmount = this.value;
        var errorDiv = document.getElementById('minimumAmountError');
        if (!/^\d+$/.test(minimumAmount)) {
            errorDiv.innerText = 'Minimum purchase amount must be a number';
            document.getElementById('submitEditCouponBtn').disabled = true;
        } else {
            errorDiv.innerText = '';
            document.getElementById('submitEditCouponBtn').disabled = false;
        }
    });

    document.getElementById('discountAmount').addEventListener('input', function () {
        var discountAmount = this.value;
        var errorDiv = document.getElementById('discountAmountError');
        if (!/^\d+$/.test(discountAmount)) {
            errorDiv.innerText = 'Discount amount must be a number';
            document.getElementById('submitEditCouponBtn').disabled = true;
        } else {
            errorDiv.innerText = '';
            document.getElementById('submitEditCouponBtn').disabled = false;
        }
    });
</script>
















<%-include('../layout/admin/footer.ejs')-%>

