

<%-include('../layout/admin/header.ejs')-%>
<%-include('../partials/adminnave.ejs')-%>
 <body>
    <table id="example" class="table table-striped" style="width: 100%">
      <thead>
        <tr>
          <th>Index</th>
          <th>Author Name</th>
          <th>Email</th>
          <th>Status</th>
          <th>Button</th>
          <th>Created</th>
          
        </tr>
      </thead>
      <tbody>
         <% user.forEach((ele,index)=>{%>
        <tr>
          <td><%-index+1 -%></td>
          <td><%-ele.name-%></td>
          <td><%-ele.email-%></td>
            <% if(ele.status=='active'){%>
          <td><%-ele.status-%></td>
           <%}else{%>
              <td><%-ele.status-%></td>
            <%}%>
              <% if(ele.status=='active'){%>
                            <td><a href=""><button style="background-color: green; border-radius: 30px; border: none; width: 90px; height: 25px;" onclick="block('<%-ele._id-%>','<%-ele.status-%>')">Block</button></a></td>
                 <%}else{%>
                          <td><a href=""><button style="background-color: red; border-radius: 30px; border: none; width: 90px; height:25px; " onclick="block('<%-ele._id-%>','<%-ele.status-%>')">Unblock</button></a></td>
                    <%}%>
      <td><%-new Date(ele.createdAt).toISOString().split('T')[0]-%></td>
          
         
        </tr>
         <%})%>
                    
      </tbody>
    </table>
  </body>
  
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
  <script>
    new DataTable("#example");
  </script>









<%-include('../layout/admin/footer.ejs')-%>