<%-include('../layout/user/header.ejs')-%>
<%-include('../partials/usernave.ejs')-%>
<div class="container">
  <h4>Wallet</h4>
  <div
    class="balance-container shadow p-3 mb-5 rounded"
    style="
      background-color: #eeeeee;
      padding: 20px;
      display: flex;
      border-radius: 10px;
    "
  >
    <img src="/assets/wallet.png" style="width: 50px" alt="" />
    <div class="balance text-dark" style="margin-left: 20px">
      <h5>Balance:</h5>
      <span style="font-weight: bold">₹ <%=WalletUser?.wallet %></span>
    </div>
  </div>
  <% if(WalletUserHist?.length===0) {%>
  <div>
    <h5>No Wallet History</h5>
  </div>
  <% } else{ %>
  <table class="table">
    <thead>
   
      <tr>
        <th scope="col">Index</th>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Type</th>
        <th scope="col">Info</th>
      </tr>
    </thead>
    <tbody>
     <%   WalletUserHist?.refund?.forEach((ele, index) => { %>
  <tr>
    <th scope="row"><%- index + 1 %></th> <!-- Displaying the correct index -->
    <td ><%- ele?.date?.toLocaleString('en-IN', { timeZone: 'Asia/Kolkata', dateStyle: 'short', timeStyle: 'short' })-%></td>
    <td><%- ele?.amount -%></td>
    <td><%- ele?.type -%></td> <!-- Accessing nested property -->
    <td><%- ele?.reason -%></td>
  </tr>
<% }) %>

    </tbody>
  </table>
  <% } %>
</div>
<%-include('../partials/footernav.ejs')-%>
